<div class="container">
    <div class="title">
        <h3>Registrar viajero</h3>
    </div>
    <mat-stepper headerPosition="top">
        <mat-step>
            <form class="form">
                <ng-template matStepLabel>Datos Basicos</ng-template>
                <div class="container-grid">
                    <div class="grid">
                        <mat-form-field appearance="outline" class="input">
                            <mat-label>Nombres</mat-label>
                            <input type="text" matInput placeholder="Juan jose">
                        </mat-form-field>
                    </div>
                    <div class="grid">
                        <mat-form-field appearance="outline" class="input">
                            <mat-label>Apellidos</mat-label>
                            <input type="text" matInput placeholder="lopez">
                        </mat-form-field>
                    </div>
                    <div class="grid">
                        <mat-form-field appearance="outline" class="input">
                            <mat-label>Tipo de identificacion</mat-label>
                            <mat-select>
                                <mat-option value="option1">Cedula ciudadania</mat-option>
                                <mat-option value="option3">Pasaporte</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
                <div class="container-grid">

                    <div class="grid">
                        <mat-form-field appearance="outline" class="input">
                            <mat-label>Identificacion</mat-label>
                            <input type="text" matInput placeholder="">
                        </mat-form-field>
                    </div>
                    <div class="grid">
                        <mat-form-field appearance="outline" class="input">
                            <mat-label>Genero</mat-label>
                            <mat-select>
                                <mat-option value="option1">Masculino</mat-option>
                                <mat-option value="option3">Femenino</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="grid">
                        <mat-form-field appearance="outline">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>



            </form>
            <div class="container-btn">
                <button mat-button matStepperNext>Siguiente</button>
            </div>
        </mat-step>
        <mat-step>
            <form class="form">
                <ng-template matStepLabel>Datos de Contacto</ng-template>
                <div class="container-grid">
                    <div class="grid">
                        <mat-form-field appearance="outline" class="input">
                            <mat-label>Correo Electronico</mat-label>
                            <input type="email" matInput placeholder="pat@example.com">
                        </mat-form-field>
                    </div>
                    <div class="grid">
                        <mat-form-field appearance="outline" class="input">
                            <mat-label>Contraseña</mat-label>
                            <input type="password" matInput placeholder="Password">
                        </mat-form-field>
                    </div>
                    <div class="grid">
                        <mat-form-field appearance="outline" class="input">
                            <mat-label>Usuario</mat-label>
                            <input type="text" matInput placeholder="">
                        </mat-form-field>
                    </div>
                </div>
                <div class="container-grid">
                    <div class="grid">
                        <mat-form-field appearance="outline" class="indicative">
                            <mat-label>Ind</mat-label>
                            <input type="text" matInput placeholder="">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="input-phone">
                            <mat-label>Telefono</mat-label>
                            <input type="tel" matInput placeholder="">
                        </mat-form-field>
                    </div>
                </div>

            </form>
            <div class="container-btn">
                <button mat-button matStepperPrevious>Anterior</button>
                <button mat-button matStepperNext color="primary">Guardar</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>