<div class="container">
    <div class="title">
        <h3>Registrar viajero</h3>
    </div>
    <mat-stepper headerPosition="top">
        <mat-step>
            <form class="form" [formGroup]="basicData">
                <ng-template matStepLabel>Datos Basicos</ng-template>
                <div class="container-grid">
                    <div class="grid">
                        <mat-form-field appearance="outline" class="input">
                            <mat-label>Nombres</mat-label>
                            <input type="text" formControlName="name" matInput placeholder="Juan jose">
                        </mat-form-field>
                    </div>
                    <div class="grid">
                        <mat-form-field appearance="outline" class="input">
                            <mat-label>Apellidos</mat-label>
                            <input type="text" formControlName="lastName" matInput placeholder="lopez">
                        </mat-form-field>
                    </div>
                    <div class="grid">
                        <mat-form-field appearance="outline" class="input">
                            <mat-label>Tipo de identificacion</mat-label>
                            <mat-select  formControlName="documentType">
                                <mat-option value="0">Seleccione</mat-option>
                                <mat-option *ngFor="let documentType of listDocumentType;"  [value]="documentType.id">{{documentType.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
                <div class="container-grid">

                    <div class="grid">
                        <mat-form-field appearance="outline" class="input">
                            <mat-label>Identificacion</mat-label>
                            <input type="text" formControlName="document" matInput placeholder="">
                        </mat-form-field>
                    </div>
                    <div class="grid">
                        <mat-form-field appearance="outline" class="input">
                            <mat-label>Genero</mat-label>
                            <mat-select formControlName="gender">
                                <mat-option value="0">Seleccione</mat-option>
                                <mat-option *ngFor="let genders of listGendersType;"  [value]="genders.id">{{genders.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="grid">
                        <mat-form-field appearance="outline">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="birth">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <div class="container-btn">
                <button mat-button matStepperNext>Siguiente</button>
            </div>
        </mat-step>
        <mat-step>
            <form class="form" [formGroup]="contacData">
                <ng-template matStepLabel>Datos de Contacto</ng-template>
                <div class="container-grid-contac">
                    <div class="grid">
                        <mat-form-field appearance="outline" class="indicative">
                            <mat-label>Ind</mat-label>
                            <input type="text" formControlName="indicative" matInput placeholder="+58">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="input-phone">
                            <mat-label>Telefono</mat-label>
                            <input type="tel" formControlName="phone" matInput placeholder="">
                        </mat-form-field>
                    </div>
                    <div class="grid-email" >
                        <mat-form-field appearance="outline" class="input-email">
                            <mat-label>Correo Electronico</mat-label>
                            <input type="email" formControlName="email" matInput placeholder="pat@example.com">
                        </mat-form-field>
                    </div>
                    </div>
                    <div class="container-grid-password">
                    <div class="grid">
                        <mat-form-field appearance="outline" class="input">
                            <mat-label>Contraseña--</mat-label>
                            <input type="password" formControlName="password" matInput placeholder="Password">
                        </mat-form-field>
                    </div>
                    <div class="grid">
                        <mat-form-field appearance="outline" class="input">
                            <mat-label>Contraseña</mat-label>
                            <input type="password" matInput placeholder="Password">
                        </mat-form-field>
                    </div>  

                </div>

            </form>
            <div class="container-btn">
                <button mat-button matStepperPrevious>Anterior</button>
                <button mat-button matStepperNext color="primary" (click)="close()">Guardar</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>