<div class="root">
    <!-- client -->
    <div class="title">Cliente</div>
    <div class="card">
        <div class="row">
            <div class="column">
                <label for="">Nombres</label>
                <p>Carlos duvan</p>
            </div>
            <div class="column">
                <label for="">Apellidos</label>
                <p>Correa Perez</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="">Tipo de documento</label>
                <p>Documento</p>
            </div>
            <div class="column">
                <label for="">Cedula de Ciudadania</label>
                <p>107685473</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="">Email</label>
                <p>carloscorrea_gmail.com</p>
            </div>
            <div class="column">
                <label for="">Telefono</label>
                <p>310768573</p>
            </div>
        </div>
    </div>
    <!-- Hotel -->
    <div class="title">Hotel Agua Luna</div>
    <div class="card">
        <div class="row">
            <div class="column">
                <label for="">Descripcion</label>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, facilis voluptatum
                    temporibus quia, earum repudiandae accusamus consectetur, porro quam ad quaerat. Quo quam ex eveniet
                    voluptate ipsam error exercitationem nemo.</p>
            </div>
        </div>
    </div>
    <!-- Room -->
    <div class="title">Habitacion</div>
    <div class="card">
        <div class="row">
            <div class="column">
                <label for="">Ciudad</label>
                <p>Valledupar</p>
            </div>
            <div class="column">
                <label for="">Ubicacion</label>
                <p>Piso 20 #308</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="">Capacidad</label>
                <p>4</p>
            </div>
            <div class="column">
                <label for="">valor</label>
                <p>$100.000</p>
            </div>
        </div>
    </div>
    <!-- Booking -->
    <div class="title">Reservacion</div>
    <div class="card">
        <div class="row">
            <div class="column">
                <label for="">Fecha Ingreso</label>
                <p>12/04/2023</p>
            </div>
            <div class="column">
                <label for="">Fecha salida</label>
                <p>14/04/2023</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="">Ocupantes</label>
                <p>4</p>
            </div>

            <div class="column">
                <label for="">Valor</label>
                <p>$400.000</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="">Activo</label>
                <p>Si</p>
            </div>
            <div class="column"></div>
        </div>

    </div>
    <div class="btn-back">
        <button mat-raised-button routerLink="/layout/booking"  >Volver</button>
    </div>
</div>