<div class="root">
    <!-- client -->
    <div class="title">Cliente</div>
    <div class="card">
        <div class="row">
            <div class="column">
                <label for="">Nombres</label>
                <p>Carlos duvan</p>
            </div>
            <div class="column">
                <label for="">Apellidos</label>
                <p>Correa Perez</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="">Tipo de documento</label>
                <p>Documento</p>
            </div>
            <div class="column">
                <label for="">Cedula de Ciudadania</label>
                <p>107685473</p>
            </div>
        </div>
        <div class="row">
            <div class="column">Email</div>
            <div class="column">Telefono</div>
        </div>
        <div class="row">
            <div class="column">carloscorrea_gmail.com</div>
            <div class="column">310768573</div>
        </div>
    </div>
    <!-- Hotel -->
    <div class="title">Hotel Agua Luna</div>
    <div class="card">
        <div class="row">
            <div class="column">Descripcion</div>
        </div>
        <div class="row">
            <div class="column">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, facilis voluptatum
                temporibus quia, earum repudiandae accusamus consectetur, porro quam ad quaerat. Quo quam ex eveniet
                voluptate ipsam error exercitationem nemo.</div>
        </div>
    </div>
    <!-- Room -->
    <div class="title">Habitacion</div>
    <div class="row">
        <div class="column">Ciudad</div>
        <div class="column">Ubicacion</div>
    </div>
    <div class="row">
        <div class="column">Valleduoar</div>
        <div class="column">Piso 20 #308</div>
    </div>
    <div class="row">
        <div class="column">Capacidad</div>
        <div class="column">Valor</div>
    </div>
    <div class="row">
        <div class="column">4</div>
        <div class="column">$100.000</div>
    </div>
     <!-- Booking -->
     <div class="title">Reservacion</div>
     <div class="row">
         <div class="column">Fecha Ingreso</div>
         <div class="column">Fecha salida</div>
     </div>
     <div class="row">
         <div class="column">12/04/2023</div>
         <div class="column">14/04/2023</div>
     </div>
     <div class="row">
         <div class="column">Ocupantes</div>
         <div class="column">Valor</div>
     </div>
     <div class="row">
         <div class="column">4</div>
         <div class="column">$400.000</div>
     </div>
     <div class="row">
        <div class="column">Activo</div>
    </div>
    <div class="row">
        <div class="column">Si</div>
    </div>



</div>