<div class="container">
    <div class="img-hotel">
        <img src="{{imageUrl}}" alt="imagen hotel">
    </div>
    <div class="container-description">
        <div class="grid-descripcion">
            <div class="title">
                <h4>{{hotel}}</h4>
            </div>
            <div class="descripcion">
                <p>{{hotel}}</p>   
            </div>
            <div class="price">
                <p>Precios a partir de</p>
                <p class="night-price">{{price|currency:'USD'}}</p>
            </div>
        </div>
    </div>

</div>