<div class="container" *ngFor="let item of lista;">
    <div class="img-hotel">
        <img src="{{item.imageurl}}" alt="imagen hotel">
    </div>
    <div class="container-description">
        <div class="grid-descripcion">
            <div class="title">
                <h4>{{item.name}}</h4>
            </div>
            <div class="descripcion">
                <p>{{item.descripcion}}</p>   
            </div>
            <a href="#">ver mas</a>


        </div>
        <div class="grid-information">
            <div class="quality">

            </div>
            <div class="price">
                <p>Precios a partir de</p>
                <p class="night-price">COP {{item.minprice}}</p>
                <p>por noche</p>
            </div>

        </div>
        <div class="container-btn">
            <button mat-raised-button>Ver disponibilidad</button>
        </div>
    </div>

</div>