<div class="nav">
    <mat-toolbar class="container_nav" color="primary">
        <button (click)="drawer.toggle()" mat-icon-button aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span id="title">Travel Agency</span>
    </mat-toolbar>
</div>
<div class="container">
    <div class="container-sidenav">
        <mat-drawer-container class="drawer-container" autosize>
            <mat-drawer color="primary" #drawer class="sidenav" mode="side">
                <p>Auto-resizing sidenav</p>
            </mat-drawer>

            <div class="pages">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci perferendis deleniti quasi odit voluptatum, expedita doloremque accusantium laborum suscipit ipsa possimus ex blanditiis, beatae debitis est quis repellat tempora animi.</p>
            </div>
        </mat-drawer-container>
    </div>

</div>
<!-- <router-outlet></router-outlet> -->