.nav{
    border-bottom: 1px solid rgba(53, 51, 51, 0.861);
}

.container {
    .container-sidenav {
        width: 100%;
        height: 100%;
    }

    .mat-drawer-container {
        width: 100%;
        height: calc(100vh - 64px);

        .sidenav {
            // width: 15%;
            height: 100%;
            background-color: #3f51b5;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .profile{
                width: 100%;
                height: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 200px;
                    height: 200px;
                    border-radius: 100%;
                }
            }

            .container-btn-sidenav{
                width: 100%;
                height: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;

                .btn-sidenav{
                    width: 100%;
                    height: 50px;

                }
            }
        }
    }
    .pages{
    width: 100%;
    height: calc(100vh - 64px);
}
}




//   .example-sidenav-content {
//     display: flex;
//     width: 100px;
//     height: 100%;
//     align-items: center;
//     justify-content: center;
//     background-color: aqua;
//   }