.container-table {
    width: 950px;
    height: 80%;
    table {
        width: 100%;
        
        #action-edit {
            color: rgb(26, 75, 198);

            &:hover{
                color: red;
                cursor: pointer;
            }
        }
    }
}




  