<div class="contaniner-card">
    <div class="title">
        Hoteles
    </div>
    <div class="state">
        <div class="icon">
            <span class="material-symbols-outlined">
                hotel
            </span>
            <p>Habilitados</p>
        </div>
        <p>40</p>
    </div>
    <div class="state">
        <div class="icon">
            <span class="material-symbols-outlined">
                lock
            </span>
            <p>Habilitados</p>
        </div>
        <p>40</p>
    </div>
    <!-- <div>
        <span class="material-symbols-outlined">
            no_encryption
        </span>
        <p>40</p>
    </div> -->

</div>