<div class="container">
    <div class="title">
        <span class="material-symbols-outlined">
            {{data.icon}}
            </span>
        <h1 mat-dialog-title>{{data.title}}</h1>
    </div>
    <div mat-dialog-content class="descripcion">
        {{data.descripcion}}
    </div>
    <div mat-dialog-actions class="container-btn">
        <!-- <button mat-button mat-dialog-close>Cancelar</button> -->
        <!-- <button mat-button mat-dialog-close cdkFocusInitial>Aceptar</button> -->
        <button mat-button matStepperPrevious>Cancelar</button>
        <button mat-button matStepperNext color="primary">{{data.btnTitle}}</button>

    </div>
</div>