<div class="container">
    <div class="title">
        <span class="material-symbols-outlined">
            info
            </span>
        <h1 mat-dialog-title>Delete file</h1>
    </div>
    <div mat-dialog-content class="descripcion">
        Would you like to delete cat.jpeg?
    </div>
    <div mat-dialog-actions class="container-btn">
        <!-- <button mat-button mat-dialog-close>Cancelar</button> -->
        <!-- <button mat-button mat-dialog-close cdkFocusInitial>Aceptar</button> -->
        <button mat-button matStepperPrevious>Cancelar</button>
        <button mat-button matStepperNext color="primary">Guardar</button>

    </div>
</div>